/* You can add global styles to this file, and also import other style files */

@import 'src/theme/variables.scss';
@import 'src/theme/utilities.scss';
@import 'src/theme/buttons.scss';
@import 'src/theme/fonts.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 16px !important; }
